<form action="/<%= @filename %>/edit" method="post">
  <p><label for="content">Edit content of <%= @filename %></label></p>
  <textarea name="content" id="content" rows="50" cols="75">
      <%= @content %>
  </textarea>
  <button type="submit" >Save Changes</button>
</form>