<form action="/document/new" method="post">
  <p><label for="content">Add a new document:</label></p>
  <input name="filename" type="text"  value="<%= params[:filename] %>"></input>
  <button type="submit">Create</button>
</form>